<p-table [value]="lancamentos" [responsive]="true" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
      <tr>
        <th>Tipo</th>
        <th>Descrição</th>
        <th>Vencimento</th>
        <th>Pagamento</th>
        <th>Valor</th>
        <th>Pessoa</th>
        <th>Ações</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamento>
    <tr>
      <td>{{lancamento.tipo}}</td>
      <td>{{lancamento.descricao}}</td>
      <td>{{lancamento.dataVencimento | date:'dd/MM/yyyy'}}</td>
      <td>{{lancamento.dataPagamento | date:'dd/MM/yyyy'}}</td>
      <td [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'green'">
        {{lancamento.valor | currency}}
      </td>
      <td>{{lancamento.pessoa}}</td>
      <td class="col-acoes">
        <button pButton type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
        &nbsp;
        <button pButton type="button" icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <b>Nenhum lançamento encontrado.</b>
  </ng-template>
</p-table>
