<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input pInputText type="text" id="nome" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>

    <div class="ui-g-12">
      <p-table [value]="pessoas" [responsive]="true"
        [paginator]="true" [rows]="5"
        [lazy]="true" [totalRecords]="totalRegistros"
        [loading]="loading" (onLazyLoad)="aoMudarPagina($event)"
        #tabela>

        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.cidade}}</td>
            <td>{{pessoa.estado}}</td>
            <td>
              <a class="status-toggle" href="#"
                pTooltip="{{pessoa.ativo === true? 'Desativar' : 'Ativar'}}" tooltipPosition="top">
                {{pessoa.ativo === true? 'Ativo' : 'Inativo'}}
              </a>
            </td>
            <td class="col-acoes">
              <button pButton type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
              &nbsp;
              <button pButton type="button" icon="pi pi-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(pessoa)">
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <b>Nenhuma pessoa encontrada.</b>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="Nova Pessoa"></button>
    </div>

  </div>
</div>

<p-toast position="center" key="confirm-dialog" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div style="text-align: center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
        <h3>{{message.summary}}</h3>
        <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-6">
          <button type="button" pButton (click)="onConfirm()" label="Sim" class="ui-button-danger"></button>
        </div>
        <div class="ui-g-6">
          <button type="button" pButton (click)="onReject()" label="Não" class="ui-button-secondary"></button>
        </div>
      </div>
    </ng-template>
  </p-toast>
