<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="#" (click)="exibeMenu = !exibeMenu">
          <i class="pi pi-bars navbar-toggle"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibeMenu">
    <li class="navbar-usuario">Matheus Braga</li>
    <li class="navbar-menuitem">
      <a href="#">Lançamentos</a>
    </li>
    <li class="navbar-menuitem">
      <a href="#">Pessoas</a>
    </li>
    <li class="navbar-menuitem">
      <a href="#">Logout</a>
    </li>
  </ul>

</nav>
