<div class="container">

  <form #formLancamento="ngForm" (ngSubmit)="salvar(formLancamento)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{lancamento.id? 'Editar' : 'Novo'}} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos" #tipoSelecionado
          [(ngModel)]="lancamento.tipo">
        </p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="data-vencimento">Vencimento</label>
        <p-calendar id="data-vencimento" name="dataVencimento" dateFormat="dd/mm/yy"
          [readonlyInput]="true" [showIcon]="true"
          [(ngModel)]="lancamento.dataVencimento" #dataVencimento="ngModel" required>
        </p-calendar>

        <app-message [control]="dataVencimento" error="required"
          text="Informe a data de vencimento">
        </app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="data-pagamento">
          {{tipoSelecionado.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}
        </label>
        <p-calendar id="data-pagamento" name="dataPagamento" dateFormat="dd/mm/yy"
          [readonlyInput]="true" [showIcon]="true"
          [(ngModel)]="lancamento.dataPagamento">
        </p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="descricao">Descrição</label>
        <input pInputText type="text" id="descricao" name="descricao"
          [(ngModel)]="lancamento.descricao" #descricao="ngModel" required minlength="5">

        <app-message [control]="descricao" error="required"
          text="Informe uma descrição">
        </app-message>
        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="valor">Valor</label>
        <input pInputText type="text" id="valor" name="valor" placeholder="0,00" currencyMask
          [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}"
          [(ngModel)]="lancamento.valor" #valor="ngModel" required>

        <app-message [control]="valor" error="required"
          text="Informe o valor">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="categoria">Categoria</label>
        <p-dropdown id="categoria" name="categoria" placeholder="Selecione"
          [autoWidth]="false" [options]="categorias"
          [(ngModel)]="lancamento.categoria.id" required>
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="pessoa">Pessoa</label>
        <p-dropdown id="pessoa" name="pessoa" placeholder="Selecione"
          [autoWidth]="false" [options]="pessoas" [filter]="true"
          [(ngModel)]="lancamento.pessoa.id" required>
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label for="observacao">Observação</label>
        <textarea pInputTextarea id="observacao" name="observacao" rows="3"
          [(ngModel)]="lancamento.observacao">
        </textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formLancamento.invalid"></button>
        &nbsp;
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>

</div>
